@import "tailwindcss";

@theme inline {
  --color-brand-pink: #FFF0F5;
  --color-brand-brown: #5D4037;
  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #1A1A1A; /* Texto Preto Suave solicitado */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
